<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de empleados</title>
</head>
<body>
    <h1>Listado de empleados</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Fecha Alta</th>
                <th>Salario</th>
                <th>Genero</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" empleado : ${empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.primerApellido}"></td>
                <td th:text="${empleado.fechaAlta}"></td>
                <td th:text="${empleado.salario}"></td>
                <td th:text="${empleado.genero}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>